<%= stylesheet_link_tag 'top', :media => "all" %>
<div class="bg_pattern3 Paper_v4"></div>
<div class="top">
    <br>
    <br>
    <br>
    <h5>あの懐かしのプロフィール帳を</h5>
    <h5>いまここで</h5>
    <br>
    <br>
    <br>
    <h5>ネット上でプロフィール交換ができるサイト<h5>
    <br>
    <h1>プロフ帳<h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5>プロフィールカードを作る<h5>


    <h5>プロフィールカードを配る<h5>


    <h5>プロフィール帳を作る<h5>


    <%= link_to "", new_profile_path %>




</div>
